<div class="page-main" :class="{'push': sidebarOpen, 'dark': darkmode}">

  {% if current-page %}

    <p class="title" id="page-title" hx-swap-oob="true"> {{current-page.title}} </p>

    {{current-page.status}}

    <div class="main-blocks">

      {% for block in current-page.blocks %}
        {% include "page/block.html" %}
      {% endfor %}
        
    </div>
    
    <div class="bottom" x-data="{showBtn: false}" @mouseenter="showBtn = true" @mouseleave="showBtn = false" :class="{'push': sidebarOpen}">
      <button class="add-btn" x-show="showBtn" hx-post="/page/{{page-id}}/add-block" hx-swap="beforeend" hx-target=".main-blocks" :class="{'dark': darkmode}">
        {% include "svg/add.svg" %} 
        <span>Novo</span> 
      </button>
    </div>
  
  {% else %}

    <p> Crie uma página para começar a editar </p>

  {% endif %}
</div>
