# Database 
DB_NAME=incita-notes
DB_HOST-localhost
DB_PORT=5432
DB_USERNAME=postgres
DB_PASSWORD=your-password
#
# Server
APP_PORT=5000
APP_ENV=development
APP_SERVER=hunchentoot
#
# JWT
JWT_SECRET=your-secret
