@use '../abstracts' as *;

.enter {
  @include body;
  
  align-items: center;
  margin-top: 10vh;

  .msg {
    @include title;
  }

  .bottom {
    @include txt;

    margin-top: 7px;
  }

  .form {
    @include body($gap: 15px);
  }

  .btn {
    @include txt;
    @include btn(colour(light-text), colour(button));

    padding: 12px;
    margin-top: 5px;
    
    border: 0 {
      radius: 5px
    }
  }
}