<!DOCTYPE html>
<html lang="pt-br" x-data="{ darkmode: $persist(false) }" :class="{'dark': darkmode}">
<head>
  <meta charset="utf-8">
  <title>{% block title %}{% endblock %}</title>

  {% comment %} Styles {% endcomment %}
  <link rel="stylesheet" type="text/css" media="screen" href="/css/main.css">

  {% comment %} Favicon {% endcomment %}
  <link rel="icon" type="image/x-icon" href="/images/favicon.ico">

  {% comment %} MathJax {% endcomment %}
  <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@4/tex-mml-chtml.js"></script>

  {% comment %} HTMX {% endcomment %}
  <script src="https://cdn.jsdelivr.net/npm/htmx.org@2.0.8/dist/htmx.min.js" integrity="sha384-/TgkGk7p307TH7EXJDuUlgG3Ce1UVolAOFopFekQkkXihi5u/6OCvVKyz1W+idaz" crossorigin="anonymous"></script>
  <script src="https://unpkg.com/htmx.org@1.9.12/dist/ext/ws.js"></script>

  {% comment %} Alpine {% endcomment %}
  <script defer src="https://unpkg.com/@fylgja/alpinejs-dialog/dist/index.min.js"></script>
  <script defer src="https://cdn.jsdelivr.net/npm/@alpinejs/persist@3.x.x/dist/cdn.min.js"></script>
  <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
</head>
<body>
  {% block content %}{% endblock %}
</body>
</html>