{% extends "layouts/enter-screen.html" %}

{% block msg %} Bem-Vindo! {% endblock msg %}

{% block form %} 

<form action="/login" method="POST" class="form">
  {% include "components/input-field.html" :input_id "email" :input_label "Email:" %}
  {% include "components/input-field.html" :input_id "password" :input_auto "off" :input_label "Senha:" %}
  <button class="btn" type="submit"> Entrar </button>
</form>

{% endblock form %}

{% block bottom %} Não tem uma conta? <a class="link" href="/register">Cadastrar</a> {% endblock bottom %}
