{% extends "layouts/enter-screen.html" %}

{% block msg %} Cadastre-se {% endblock msg %}

{% block form %}

<form action="/register" method="POST" class="form">
  {% include "components/input-field.html" :input_id "name" :input_type "text" :input_label "Nome:" %}
  {% include "components/input-field.html" :input_id "email" :input_label "Email:" %}
  {% include "components/input-field.html" :input_id "password" :input_auto "off" :input_label "Senha:" %}
  <button class="btn" type="submit"> Cadastrar </button>
</form>

{% endblock form %}

{% block bottom %}Já tem uma conta? <a class="link" href="/login">Entrar</a>{% endblock bottom %}