{% extends "layouts/enter-screen.html" %}

{% block msg %} Cadastre-se {% endblock msg %}

{% block form %}

<form action="/user" method="POST" class="form">
  {% include "components/input-field.html" :input-id "name" :input-type "text" :input-label "Nome:" %}
  {% include "components/input-field.html" :input-id "email" :input-label "Email:" %}
  {% include "components/input-field.html" :input-id "password" :input-auto "off" :input-label "Senha:" %}
  <button class="btn" type="submit"> Cadastrar </button>
</form>

{% endblock form %}

{% block bottom %}Já tem uma conta? <a class="link" href="/login">Entrar</a>{% endblock bottom %}