@use '../abstracts' as *;

.group-body {
  .group-page {
    cursor: pointer;
    border-bottom: 2px solid colour(background, light);

    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 5px;
    height: 7vh;

    &.dark {
      border-bottom-color: colour(background, dark);
    }
  }

  .options {
    @include icon-btn;
  }

  .title {
    @include txt;
  }
}