{% extends "layouts/default.html" %}

{% block content %}

<style>

  .redd {
    color: red;
  }

</style>

<script>

  const saveState = (id) => {

    const key = `group:${id}`

    document.getElementById(id).classList.toggle('redd')

    const storage = localStorage.getItem(key)

    if (storage) {
      localStorage.setItem(key, "")
    } else {
      localStorage.setItem(key, true)
    }
  }


  window.onload = () => {
    for (el in localStorage) {

      const [type, id] = el.split(':')

      if (type === 'group') {
        const value = localStorage.getItem(el)

        if (value) {
          document.getElementById(id).classList.toggle('redd')
        }
      }
    }
  }
</script>



<div>

  {% for i in lista %}
  
    <p id="{{i.id}}" class="el" onclick="saveState({{i.id}})">
      {{ i.name }}
    </p>

  {% endfor %}

</div>

{% endblock content %}
