@use 'var' as *;

.group {
  &_header {
    border-bottom: 2px solid $accent-colour;

    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-top: 3px;
    padding-bottom: 6px;

    &.dark {
      border-bottom-color: $dark-accent-colour;
    }

    &_left {
      display: flex;
      gap: 15px;
      align-items: center;
      padding-left: 10px;
    }

    &_right {
      padding-right: 10px;
      display: flex;
      align-items: center;
    }

    &_chevron {
      @include icon-btn;

      &_right, &_down {
        @include hideable;
      }
    }

    &_add {
      @include icon-btn;
    }
  }

  &_body {
    @include hideable;
  }

  &_page {
    border-bottom: 2px solid $bg-colour;

    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 5px;
    height: 7vh;

    &.dark {
      border-bottom-color: $dark-bg-colour;
    }

    &_options {
      @include icon-btn;
    }

    &_title {
      @include txt(14px);
    }
  }

  &_title {
    @include txt(16px);
  }
}