@use 'var' as *;

.page {
  @include body;

  &_hr {
    width: 97%;
    margin-top: 10px;
    background-color: $accent-colour;

    border: {
      color: $accent-colour;
      style: solid;
      radius: 50%;
    }

    &.dark {
      border-color: $dark-accent-colour;
      background-color: $dark-accent-colour;
    }
  }

  &_main {
    width: 72vw;
    background-color: $text-field-colour;
    display: flex;
    justify-content: center;

    &.push {
      margin-left: 23.5vw;
    }

    &.dark {
      background-color: $dark-text-field-colour;
    }
  }

}