$bg-colour: rgba(253, 253, 253, 0.938);
$txt-colour: rgb(22, 22, 22);
$wtxt-colour: rgb(238, 238, 238);
$accent-colour: #3D444D;
$secondary-colour: rgb(38, 76, 100);

$dark-bg-colour: #0D1117;
$dark-txt-colour: rgb(235, 235, 237);

:root {
  background-color: $bg-colour;
  color: $txt-colour;

  &.dark {
    background-color: $dark-bg-colour;
    color: $dark-txt-colour;
  }
}

@mixin body {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

@mixin txt($size, $light-text: false) {
  @if $light-text {
    color: $wtxt-colour;
  }
  font: {
    size: $size;
    family: 'arial';
  }
}

@mixin btn($color, $background-color, $hover: 5%, $active: 10%) {
  &:hover {
    background-color: darken($background-color, $hover);
    color: darken($color, $hover);
  }

  &:active {
    background-color: darken($background-color, $active);
    color: darken($color, $active);
  }
}
